body{
    font-family: sans-serif;
    background: url(../obrazky/pozadie.png) rgb(46, 28, 1);
    background-repeat: repeat;
}


h1{
    text-shadow: 0 0 5px black;
    color: rgb(205, 205, 0);
font-size: 75px;
text-transform: uppercase;
text-align: center;
}
